*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*------------------------------*/



.container{
    
    text-align: center;
    color: white;
    /* width: 1120px; */
    max-width: 100%;
    height: 850px;
    /* background-size: contain; */
    background-size: 100% 100%;
    margin: auto;
    background-image: url('https://images.unsplash.com/photo-1543332164-6e82f355badc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
}
.header{
    font-family: 'Megrim', cursive;
    margin-right: 150px;
    font-size: 18px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.header a{
    margin-left: 30px;
    color: white;
    text-decoration: overline;
    text-shadow: 0 0 10px #ff007f;
    
}
.search{
    font-family: 'Megrim', cursive;
    height: 670px;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;

}
.btn{
    font-size: 30px;
    margin-top: 20px;
    color: #ff007f;
}
.btn:hover p{
    text-decoration: overline;
    text-shadow: 5px 5px 30px #ffffff;
}
.search-form input{
    font-size: 18px;
    padding-left: 15px;
    margin-top: 20px;
    width: 700px;
    height: 40px;
    border-radius: 20px; 
}
.white-container{
    font-family: 'DM Mono', monospace;
    height: 1000px;
    margin: auto;
}
.about{
    width: 1120px;
    margin: auto;
    padding: 50px 0;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
}
.about p{
    font-size: 20px;
    padding-right: 150px;
}
.about img{
    width: 350px;
    
}
.contact{
    background-color: #000000e2;
    height: 400px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.contact img{
    filter: drop-shadow(0px 0px 15px #ff007f);
    margin: 150px 40px;
    width: 40px;
    height: 40px;
}
